:root{
--dark:rgb(255, 255, 255);
--large-main-font: 'Courgette';
--main-body-font:'DM Serif Display';
}
.container{
    font-family: var(--main-body-font);
}
.dark{
    background-color: (--dark);
}
.background-img-top{
    margin: 0 auto;
    position: relative;

}
h1{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(190, 187, 187, 0.541);
    border-radius: 10px;
    margin: 0,auto;
    padding: 5px;
    font-family: var(--large-main-font);
}
.card-title{
    font-size: 38px;
    font-family: var(--large-main-font);
    font-weight: 600;

}
.card-text{
    color:#3d3946;
    background-color:none;
    font-family: var(--main-body-font);
    font-size: 22px;
}
.card-text-secondary{
    font-family: 'Times New Roman', Times, serif;
    padding-top: 0%;
}
#btn-card-outline{
    border-color:  rgb(156, 127, 236, 0.8);
    border-width: 3px;
}
#card-list{
    border: none;
}
#list-service{
     text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 22px;
    text-decoration: underline;
    padding-bottom: 20px;
    background-color: rgb(179, 157, 240, 0.2);
    border-radius: 20px;

}
#tele, #couple, #single{
     text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 18px;
    border:none;
}
#mod-title{
    font-size: 24px;
}
#mod-body{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 520;
}
.type-therapy{
    text-align: center;
    font-size: 32px;
    font-family: 'DM Serif Display', italic;
    padding-top: 40px;
    margin-top: 20px;
}
footer{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.contact-me, .consultation, .about-me{
    background-color: rgb(179, 157, 240);
    padding: 10px 25px;
    border-radius: 15px;
    color: #242229;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--main-body-font);
}
a{
    text-decoration: none;
    color:  rgb(154, 124, 238);
    font-weight: 700;
}
.coded-links{
    text-align: center;
    padding: 20px;
    margin: 10px;
}
